<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .center {
            margin-top: 100px;
            width: 60%;
            padding: 10px;
            background: none;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body class="bg-light">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">GeekFactory - Home Finance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/account">Счета</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/currency">Валюты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transaction">Транзакции</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/category">Категории</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="center">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#categoryForm">Добавить категорию</button>
    <br>
    <p>Список категорий:</p>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Родительская категория</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <th th:text="${category.categoryId}" scope="row"></th>
            <td th:text="${category.name}"></td>
            <div th:if="${category.parent != null}">
            <p th:each="par : ${category.parent}">
                <td th:text="${par.name}"></td>
            </p>
            </div>
            <div th:if="${category.parent == null}">
                <td>No parent category</td>
            </div>

            <td>
                <a data-toggle="modal" data-th-target="'#myModal_' + ${category.categoryId}" th:href="'#myModal_' + ${category.categoryId}">Редактировать</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a data-toggle="modal" data-th-target="'#deleteModal_' + ${category.categoryId}" th:href="'#deleteModal_' + ${category.categoryId}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- modal form save -->
<div class="modal fade" id="categoryForm" tabindex="-1" role="dialog" aria-labelledby="requestFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Добавить категорию</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/saveCategory" id="category">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Имя категории:</label>
                        <input type="text" name="name" class="form-control" id="recipient-name">
                        <label for="recipient-name" class="col-form-label">Родительская категория, если есть:</label>
                        <select name="parentCategory" form="category">
                            <option selected disabled hidden >Выберите родительскую категорию</option>
                            <p th:each="category : ${categories}">
                                <option th:value="${category.categoryId}" th:text="${category.name}"></option>
                            </p>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:each="category : ${categories}">
    <!-- modal form update -->
    <div class="modal fade" th:id="'myModal_' + ${category.categoryId}" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Редактирование категории</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/editCategory" th:id="'parentCategory_' + ${category.categoryId}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="categoryId" class="col-form-label">ID категории:</label>
                            <input type="text" name="id" class="form-control" readonly th:value="${category.categoryId}" id="categoryId">
                            <label for="categoryName" class="col-form-label">Название категории:</label>
                            <input type="text" name="name" class="form-control" contenteditable="true" th:value="${category.name}" id="categoryName">
                            <label for="categoryName" class="col-form-label">Родительская категория:</label>
                            <select th:name="'parent_' + ${category.categoryId}" th:form="'parentCategory_' + ${category.categoryId}">
                                <option selected value="">-</option>
                                <div th:each="parentCategory : ${categories}">
                                    <p th:if="${category.parent} == ${parentCategory}">
                                        <option selected th:value="${parentCategory.categoryId}" th:text="${parentCategory.name}"></option>
                                    </p>
                                    <p th:unless="${category.parent} == ${parentCategory}">
                                        <option th:value="${parentCategory.categoryId}" th:text="${parentCategory.name}"></option>
                                    </p>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal form delete -->
    <div class="modal fade" th:id="'deleteModal_' + ${category.categoryId}" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteModalLabel">Удаление категории</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/deleteCategory">
                    <div class="modal-body">
                        <div class="form-group">
                            <p>Вы действительно хотите удалить категорию"? </p>
                            <input type="hidden" name="id" class="form-control" readonly th:value="${category.categoryId}" th:id="${category.categoryId}">
                            <input type="hidden" name="name" class="form-control" contenteditable="true" th:value="${category.name}" th:id="${category.categoryId}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                        <input type="submit" class="btn btn-primary" value="Удалить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>