<!DOCTYPE html >
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <style>
        .center {
            margin-top: 100px;
            width: 20%;
            padding: 10px;
            background: none;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<form class="center" th:action="@{/login}" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>

    <div th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            Invalid username and password.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info" role="alert">Вы вышли.</div>
    </div>

    <label for="inputLogin" class="sr-only">Login</label>
    <input type="text" id="inputLogin" name="login" class="form-control" placeholder="login"
           th:required="required" th:autofocus="autofocus"/>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
           th:required="required"/>
    <br>
    <button class="btn btn-lg btn-primary btn-block bg-dark" type="submit">Sign in</button>
    <a href="/registration" class="btn btn-lg btn-primary btn-block bg-blue">Registration</a>
</form>
</body>
</html>