<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .center {
            margin-top: 100px;
            width: 60%;
            padding: 10px;
            background: none;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

</head>
<body class="bg-light">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">GeekFactory - Home Finance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/account">Счета</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/currency">Валюты</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/transaction">Транзакции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Категории</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="center">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#transactionForm">Добавить транзакцию</button>
    <br>
    <p>Список транзакций:</p>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Счёт</th>
            <th scope="col">Сумма транцакции</th>
            <th scope="col">Категории</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactions}">
            <th th:text="${transaction.transactionId}" scope="row"></th>
            <td th:text="${transaction.name}"></td>
            <td th:text="${transaction.dateTime}"></td>
            <td th:text="${transaction.account.name}"></td>
            <td th:text="${transaction.amount}"></td>
            <td th:if="${transaction.categoryTransactions.isEmpty()}">
                <p>no categories</p>
            </td>
            <td th:if="${!transaction.categoryTransactions.isEmpty()}">
                <div th:each="cat : ${transaction.categoryTransactions}">
                    <p th:text="${cat.name}"></p>
                </div>
            </td>
            <td>
                <a data-toggle="modal" data-th-target="'#myModal_' + ${transaction.transactionId}" th:href="'#myModal_' + ${transaction.transactionId}">Редактировать</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a data-toggle="modal" data-th-target="'#deleteModal_' + ${transaction.transactionId}" th:href="'#deleteModal_' + ${transaction.transactionId}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    window.onload = function () {

        var options = {
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Transactions"
            },
            axisX:{
                valueFormatString: "DD MMM"
            },
            axisY: {
                title: "Count",
                suffix: "",
                minimum: 0
            },
            toolTip:{
                shared:true
            },
            legend:{
                cursor:"pointer",
                verticalAlign: "bottom",
                horizontalAlign: "left",
                dockInsidePlotArea: true,
                itemclick: toogleDataSeries
            },
            data: [{
                type: "line",
                showInLegend: true,
                name: "Projected Sales",
                markerType: "square",
                xValueFormatString: "DD MMM, YYYY",
                yValueFormatString: "#,##0",
                dataPoints: [
                    { x: new Date(2017, 10, 10), y: 85 },
                    { x: new Date(2017, 10, 11), y: 86 },
                    { x: new Date(2017, 10, 12), y: 94 },
                    { x: new Date(2017, 10, 13), y: 97 },
                    { x: new Date(2017, 10, 14), y: 86 },
                    { x: new Date(2017, 10, 15), y: 89 }
                ]
            },
                {
                    type: "line",
                    showInLegend: true,
                    name: "Actual Sales",
                    lineDashType: "dash",
                    yValueFormatString: "#,##0",
                    dataPoints: [
                        { x: new Date(2017, 10, 10), y: 66 },
                        { x: new Date(2017, 10, 11), y: 63 },
                        { x: new Date(2017, 10, 12), y: 67 },
                        { x: new Date(2017, 10, 13), y: 66 },
                        { x: new Date(2017, 10, 14), y: 56 },
                        { x: new Date(2017, 10, 15), y: 64 }
                    ]
                }]
        };
        $("#chartContainer").CanvasJSChart(options);

        function toogleDataSeries(e){
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else{
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }

    }
</script>

<div id="chartContainer" class="center" style="height: 370px; width: 60%;"></div>
<!-- modal form save -->
<div class="modal fade" id="transactionForm" tabindex="-1" role="dialog" aria-labelledby="requestFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Добавить транзакцию</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/saveTransaction" id="transactionSave">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Имя транзакции:</label>
                        <input type="text" name="name" class="form-control" id="recipient-name">
                        <label for="dateTime" class="col-form-label">Дата транзакции:</label>
                        <input type="datetime-local" name="dateTime" class="form-control" id="dateTime">
                        <label for="dateTime" class="col-form-label">Добавление категорий транзакции:</label>
                        <select multiple name="categories" form="transactionSave">
                            <option value="">-</option>
                            <p th:each="category : ${categories}">
                                <option th:value="${category.categoryId}" th:text="${category.name}"></option>
                            </p>
                        </select>
                        <label for="recipient-name" class="col-form-label">Укажите тип счета:</label>
                        <select name="account" form="transactionSave">
                            <p th:each="account : ${accounts}">
                                <option th:value="${account.accountId}" th:text="${account.name}"></option>
                            </p>
                        </select>
                        <label for="amount" class="col-form-label">Сумма транзакции:</label>
                        <input type="number" name="amount" class="form-control" id="amount" value="0" min="0.00" max="1000000.00" step="0.01" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:each="transaction : ${transactions}">
    <!-- modal form update -->
    <div class="modal fade" th:id="'myModal_' + ${transaction.transactionId}" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Редактирование счета</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/editTransaction" th:id="'transaction_' + ${transaction.transactionId}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="transactionId" class="col-form-label">ID транзакции:</label>
                            <input type="text" name="id" class="form-control" readonly th:value="${transaction.transactionId}" id="transactionId">
                            <label for="transactionName" class="col-form-label">Имя транзакции:</label>
                            <input type="text" name="name" class="form-control" th:value="${transaction.name}" id="transactionName">
                            <label for="transactionDateTime" class="col-form-label">Дата транзакции:</label>
                            <input type="datetime-local" name="dateTime" class="form-control" th:value="${transaction.dateTime}" id="transactionDateTime">
                            <label for="dateTime" class="col-form-label">Редактирование категорий транзакции:</label>
                            <select multiple name="categories" th:form="'transaction_' + ${transaction.transactionId}">
                                <option value="">-</option>
                                <p th:each="category : ${categories}">
                                    <option th:value="${category.categoryId}" th:text="${category.name}"></option>
                                </p>
                            </select>
                            <label for="recipient-name" class="col-form-label">Укажите тип счета:</label>
                            <select name="account" th:form="'transaction_' + ${transaction.transactionId}">
                                <div th:each="account : ${accounts}">
                                    <p th:if="${account} == ${transaction.account}">
                                        <option selected th:value="${account.accountId}" th:text="${account.name}"></option>
                                    </p>
                                    <p th:unless="${account} == ${transaction.account}">
                                        <option th:value="${account.accountId}" th:text="${account.name}"></option>
                                    </p>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- modal form delete -->
    <div class="modal fade" th:id="'deleteModal_'+ ${transaction.transactionId}" tabindex="-1" role="dialog" aria-labelledby="formLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteModalLabel">Удаление транзакции</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/deleteTransaction">
                    <div class="modal-body">
                        <div class="form-group">
                            <p>Вы действительно хотите удалить транзакцию? </p>
                            <input type="hidden" name="id" class="form-control" readonly th:value="${transaction.transactionId}" th:id="${transaction.transactionId}">
                            <input type="hidden" name="name" class="form-control" contenteditable="true" th:value="${transaction.name}" th:id="${transaction.transactionId}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                        <input type="submit" class="btn btn-primary" value="Удалить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>